.env
*.pyc
__pycache__/
db.sqlite3



# === React Frontend (in frontend/01talentweb) ===

# Logs
frontend/01talentweb/logs
frontend/01talentweb/*.log
frontend/01talentweb/npm-debug.log*
frontend/01talentweb/yarn-debug.log*
frontend/01talentweb/yarn-error.log*
frontend/01talentweb/pnpm-debug.log*
frontend/01talentweb/lerna-debug.log*

# Dependencies and builds
frontend/01talentweb/node_modules
frontend/01talentweb/dist
frontend/01talentweb/dist-ssr

# Local overrides
frontend/01talentweb/*.local

# Tailwind/Vite cache
frontend/01talentweb/.vite
frontend/01talentweb/.tailwind-cache

# Editor files
frontend/01talentweb/.vscode/*
!frontend/01talentweb/.vscode/extensions.json
frontend/01talentweb/.idea
frontend/01talentweb/.DS_Store
frontend/01talentweb/*.suo
frontend/01talentweb/*.ntvs*
frontend/01talentweb/*.njsproj
frontend/01talentweb/*.sln
frontend/01talentweb/*.sw?