# Virtual Environment
venv/
env/
myenv/
.env

# Static files
staticfiles/
**/static/dist/
**/static/build/

# Python
__pycache__/
*.py[cod]
*.so

# Node
node_modules/
01talentweb/frontend/dist/

# IDE
.vscode/
.idea/

# Database
*.sqlite3